<div class="col-md-12">
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Прогресс управляющих</h2>
            <ul class="list-group">
                {% for supervisor_prog in supervisor_progress %}
                    <li class="list-group-item">
                        {{ supervisor_prog.user.user.username }} - {{ supervisor_prog.completion_percentage }}%
                    </li>
                    {% if supervisor_prog.completion_percentage >= 100 %}
                        <form method="post" action="{% url 'upgrade_role' supervisor_prog.user.user.username %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success mt-2">Повысить роль</button>
                        </form>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>