{% extends 'base.html' %}
{% load static %}

{% block title %}
    Личный кабинет
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col-md-6 mb-4 ">
            {% include 'partials/personal_info.html' %}
        </div>

        <div class="col-md-6 mb-4">
            {% include 'partials/upload_document_form.html' %}
        </div>

        {% include 'partials/user_courses_progress.html' %}
    </div>

    <div class="row mt-4">
    {% if user_profile.role == 'manager' or user_profile.role ==  'supervisor' or user_profile.role ==  'hr_manager' %}
        {% include 'partials/intern_progress.html' %}
        {% include 'partials/barista_progress.html' %}
    {% endif %}
    </div>

    <div class="row">
        {% if user_profile.role == 'supervisor' or user_profile.role == 'hr_manager' %}
            {% include 'partials/manager_progress.html' %}
        {% endif %}
    </div>

    <div class="row">
        {% if user_profile.role == 'hr_manager' %}
            {% include 'partials/supervisor_progress.html' %}
        {% endif %}
    </div>

    {% if user_profile.role == 'hr_manager' %}
        <div class="row">
        {% include 'partials/add_test.html' %}
        </div>
        
        <div class="row">
        {% include 'partials/add_course.html' %}
        {% include 'partials/add_lecture.html' %}
        </div>
    {% endif %}
</div>
<script src="{% static 'js/addquestion_script.js' %}"></script>
{% endblock %}
