{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <div class="card p-5">
            <h2 class="text-center mb-3">Регистрация</h2>
            <form method="post">
                {% csrf_token %}
                {% block form_fields %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <br>
                            {{ field }}
                        </div>
                    {% endfor %}
                {% endblock %}
            {% if form.errors %}
                <div class="form-group">
                    <small class="text-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        {% endfor %}
                    </small>
                </div>
                {% else %} <div class="form-group"> <br> </div>
            {% endif %}
                <button type="submit" class="btn btn-primary btn-lg text-center">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
