{% extends 'base.html' %}
{% load static %}

{% block title %}
    Создание или изменение теста
{% endblock %}

{% block content %}
<div class="container">
    <h1>Создание или изменение теста</h1>
    <form id="test-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ test_form.as_p }}
        <div id="question-section">
            <button type="button" class="add-question-btn">Добавить вопрос</button>
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
<script src="{% static 'js/addquestion_script.js' %}"></script>
{% endblock %}